<%- include('partials/header') %>

<header class="jumbotron">
    <div class="container">
        <h1>This is the Result page</h1>
        <p>Results matching your query</p>
        <form action="/search" method="POST">
            <input type="text" name="book_name" placeholder="Book Name">
            <button class="btn btn-primary btn-sm" type="submit">Search</button>
        </form>
        
        <!-- <a class="btn btn-primary btn-sm" href="/campgrounds/new">Add New Campgrounds</a> -->
    </div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;" >
    <% data.forEach(function(item){ %>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail">
                <img class="img" src="<%= item.img %>">
            </div>
            <div class="captions">
                <h4><%= item.title %></h4>
                <h5>₹ <%= item.price %></h5>
                <h5><%= item.owner %></h5>
                <a class="btn btn-primary btn-sm" href="<%= item.href %>">More Info</a>
            </div>
        </div>
    <% }) %>
</div>


<%- include('partials/footer') %>